In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data3.txt',delimiter='\t')

In [3]:
df

    1    2  3     4
0   5    6  7     9
1  10  'a'  c  True
2   4    5  5     6

In [4]:
df = pd.read_csv('indian_cities.csv',skiprows=5,header=0)

In [5]:
df

       5      Ahmedabad  55,70,585  35,20,085      Gujarat
0      6        Chennai  46,81,087  43,43,645   Tamil Nadu
1      7        Kolkata  44,86,679  45,72,876  West Bengal
2      8          Surat  44,67,797  24,33,835      Gujarat
3      9       Vadodara  35,52,371  16,92,000      Gujarat
4     10           Pune  31,15,431  25,38,473  Maharashtra
..   ...            ...        ...        ...          ...
333  339      Jehanabad   1,02,456     81,503        Bihar
334  340     Kapurthala   1,01,654        NaN       Punjab
335  341     Aurangabad   1,01,520     79,393        Bihar
336  342        Gangtok   1,00,286     29,354       Sikkim
337  343  Vasco Da Gama   1,00,000        NaN          Goa

[338 rows x 5 columns]

In [6]:
df.isnull()

         5  Ahmedabad  55,70,585  35,20,085  Gujarat
0    False      False      False      False    False
1    False      False      False      False    False
2    False      False      False      False    False
3    False      False      False      False    False
4    False      False      False      False    False
..     ...        ...        ...        ...      ...
333  False      False      False      False    False
334  False      False      False       True    False
335  False      False      False      False    False
336  False      False      False      False    False
337  False      False      False       True    False

[338 rows x 5 columns]

In [18]:
data = pd.read_excel('WQ.xlsx')

In [21]:
pwd()

'C:\\Users\\BSRVPrasad\\OneDrive\\PythonClass'

In [22]:
data.head()

,St. No,Depth,S.D,W.T,Salinity,Turbidity,DO,pH,TSM,NH4-N,NO2-N,NO3-N,PO4-P,SiO2-Si,TN,TP
0,1,1.00,1.0,29.5,10.0,5.21,8.37,9.05,18.0,1.5,0.45,4.20,6.3,1.5,NaN,NaN
1,2,2.25,0.5,30.0,10.4,16.00,6.90,8.27,23.2,9.9,0.39,1.04,4.5,8.0,19.1,11.6
2,3,2.50,0.5,29.6,11.8,13.70,6.79,8.27,26.8,11.2,0.30,0.79,6.0,12.0,18.6,11.6
3,4,1.85,NaN,29.6,10.7,3.72,5.17,8.64,22.6,2.9,0.21,1.07,9.3,9.0,21.1,NaN
4,5,1.50,1.5,29.3,11.7,4.22,6.46,8.70,18.0,2.3,0.41,1.09,6.6,8.0,29.1,10.8

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   St. No     36 non-null     int64
 1   Depth      35 non-null     float64
 2   S.D        34 non-null     float64
 3   W.T        35 non-null     float64
 4   Salinity   35 non-null     float64
 5   Turbidity  35 non-null     float64
 6   DO         35 non-null     float64
 7   pH         35 non-null     float64
 8   TSM        35 non-null     float64
 9   NH4-N      35 non-null     float64
 10  NO2-N      35 non-null     float64
 11  NO3-N      35 non-null     float64
 12  PO4-P      35 non-null     float64
 13  SiO2-Si    35 non-null     float64
 14  TN         31 non-null     float64
 15  TP         21 non-null     float64
dtypes: float64(15), int64(1)
memory usage: 4.6 KB

In [27]:
data.loc[9]

St. No       10.00
Depth         2.50
S.D           0.50
W.T          30.10
Salinity     15.10
Turbidity     9.72
DO            6.54
pH            8.31
TSM          11.20
NH4-N         4.20
NO2-N         0.63
NO3-N        11.59
PO4-P         4.09
SiO2-Si      44.90
TN             NaN
TP             NaN
Name: 9, dtype: float64

In [28]:
data

,St. No,Depth,S.D,W.T,Salinity,Turbidity,DO,pH,TSM,NH4-N,NO2-N,NO3-N,PO4-P,SiO2-Si,TN,TP
0,1,1.00,1.000,29.5,10.0,5.21,8.37,9.05,18.000,1.5,0.45,4.20,6.30,1.50,NaN,NaN
1,2,2.25,0.500,30.0,10.4,16.00,6.90,8.27,23.200,9.9,0.39,1.04,4.50,8.00,19.1,11.60
2,3,2.50,0.500,29.6,11.8,13.70,6.79,8.27,26.800,11.2,0.30,0.79,6.00,12.00,18.6,11.60
3,4,1.85,NaN,29.6,10.7,3.72,5.17,8.64,22.600,2.9,0.21,1.07,9.30,9.00,21.1,NaN
4,5,1.50,1.500,29.3,11.7,4.22,6.46,8.70,18.000,2.3,0.41,1.09,6.60,8.00,29.1,10.80
5,6,2.25,1.000,30.1,12.6,7.46,6.18,8.30,22.200,12.6,0.41,1.28,2.57,10.80,30.0,NaN
6,7,2.35,0.750,29.8,13.9,10.50,6.98,8.28,14.500,3.5,0.35,4.90,1.93,22.20,25.0,2.20
7,8,0.25,0.250,31.2,13.4,11.00,7.12,8.26,15.400,4.8,0.46,13.90,1.82,54.40,21.0,1.10
8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,2.50,0.500,30.1,15.1,9.72,6.54,8.31,11.200,4.2,0.63,11.59,4.09,44.90,NaN,NaN
10,11,0.75,0.750,29.0,14.8,4.48,8.36,8.53,9.440,6.6,0.40,5.78,0.96,16.20,11.4,1.59
11,12,1.75,0.500,30.6,15.5,19.20,6.73,8.38,19.200,4.7,0.44,6.09,3.00,49.10,21.0,1.10
12,13,2.15,1.000,28.5,17.6,6.68,6.82,8.35,1.279,9.6,0.58,4.90,1.98,45.18,NaN,NaN
13,14,1.25,0.750,28.6,18.0,11.70,4.87,8.39,14.500,8.2,0.49,16.53,1.17,15.03,2.0,NaN
14,15,2.25,0.250,30.4,19.3,24.80,8.20,8.33,51.500,0.2,0.15,0.79,0.56,19.80,1.0,6.40
15,16,1.75,0.250,30.2,20.0,28.10,7.12,8.27,31.700,2.2,0.24,1.35,0.50,22.50,5.1,17.40
16,17,1.25,0.250,30.3,24.9,27.30,6.05,7.96,41.400,0.2,0.18,1.17,0.39,22.80,2.8,2.60
17,18,0.50,0.010,31.8,34.2,13.80,10.60,8.11,170.200,2.8,1.00,0.93,1.80,7.00,15.8,6.80
18,19,1.65,0.750,31.6,12.7,2.65,10.30,9.27,10.200,2.5,0.14,0.88,0.48,11.70,3.6,4.80
19,20,1.75,0.250,31.1,21.8,26.84,6.94,8.49,49.100,2.0,1.13,0.55,0.41,20.00,4.6,4.50
20,21,1.25,0.250,30.9,18.1,20.00,7.40,8.10,56.300,0.2,0.10,0.89,0.29,20.70,32.0,2.20
21,22,0.80,0.250,33.0,5.4,15.20,7.50,8.30,25.200,1.6,1.74,1.27,2.60,19.90,NaN,2.90
22,23,1.25,1.250,30.1,7.0,1.80,6.00,9.61,18.800,0.5,0.23,1.24,6.90,27.90,2.5,NaN
23,24,1.25,0.500,31.1,17.1,4.89,7.25,8.80,25.300,0.3,0.19,1.39,3.00,26.30,5.7,3.30
24,25,1.25,0.250,32.0,12.3,17.90,7.95,8.33,23.200,0.8,0.36,1.19,3.70,21.70,18.8,3.80
25,26,1.00,0.500,33.0,4.5,13.80,7.40,8.47,21.100,0.8,1.93,1.59,2.90,35.70,8.4,NaN
26,27,0.75,0.015,34.2,4.5,52.40,7.75,8.50,113.000,0.9,1.10,9.10,1.70,80.00,7.4,NaN
27,28,0.80,0.010,33.4,27.7,34.50,9.85,8.56,85.300,0.8,0.17,0.77,3.00,14.90,12.5,4.30
28,29,0.80,0.250,33.0,10.9,29.10,9.50,8.50,33.000,1.2,0.10,0.69,2.70,12.80,4.8,NaN
29,30,0.75,0.350,32.6,6.4,28.40,7.59,8.30,27.000,3.6,0.52,2.50,2.60,12.00,7.7,NaN
30,31,0.75,0.750,30.3,19.8,10.20,6.00,7.90,29.000,0.8,1.30,4.30,1.60,3.90,11.6,NaN
31,32,0.75,0.250,31.9,14.2,28.50,6.75,8.17,36.800,1.4,0.30,1.30,3.70,32.00,8.0,NaN
32,33,2.75,0.010,32.1,0.0,55.60,5.22,7.53,35.480,0.8,0.40,3.30,3.04,32.00,8.3,NaN
33,34,2.25,0.500,30.2,35.0,14.80,7.92,8.22,29.400,5.0,0.20,1.08,0.40,4.30,19.8,1.70
34,35,3.25,1.000,28.5,35.0,9.43,6.04,8.09,19.900,5.1,0.30,1.10,0.50,6.60,24.8,1.90
35,36,3.25,1.250,29.0,35.3,5.88,6.66,8.13,9.400,4.1,0.18,0.40,0.60,6.80,15.8,11.40

In [29]:
data = pd.read_excel('WQ.xlsx',sheet_name='Dec 04')

In [30]:
data

,St. No,Depth,S.D,W.T,Salinity,Turbidity,DO,pH,TSM,NH4-N,NO2-N,NO3-N,PO4-P,SiO2-Si,TN,TP
0,1,0.50,0.50,27.5,15.36,3.50,11.28,9.18,18.00,3.1878,0.09048,0.92445,0.16864,11.78496,22.89024,0.40713
1,2,2.35,0.75,25.5,15.48,8.89,9.34,8.65,24.00,3.2802,0.06786,0.94707,0.16864,15.89184,24.79776,0.30783
2,3,2.65,1.00,25.1,15.87,8.34,7.97,8.44,17.95,7.8540,0.09048,1.14999,0.17856,18.48096,24.95672,0.27804
3,4,2.25,2.00,25.9,16.64,1.59,7.97,8.76,9.70,7.9002,0.06786,1.32297,0.14880,15.93648,23.68504,0.31776
4,5,1.75,1.75,25.8,14.97,0.81,9.59,8.67,6.00,2.2176,0.09048,1.22517,0.19840,15.93648,24.79776,0.41706
5,6,2.50,0.75,25.4,14.59,5.09,8.06,8.55,16.40,3.1878,0.15834,1.45803,0.36704,16.87392,25.27464,0.51636
6,7,2.75,1.50,25.1,13.82,4.98,7.25,8.46,14.25,2.4024,0.09048,1.22517,0.16864,17.27568,25.75152,0.57594
7,8,0.25,0.25,25.8,13.44,0.15,9.59,8.80,9.12,2.9106,0.11310,1.13430,0.14790,16.09295,24.80600,0.66912
8,9,0.25,0.25,25.6,14.08,1.77,7.25,8.64,8.50,2.9568,0.15834,1.31586,0.13804,16.83840,26.54400,0.87576
9,10,2.75,1.25,25.3,13.44,4.24,7.25,8.44,15.60,2.9568,0.20358,1.45962,0.14790,16.53145,27.65000,0.88560
10,11,0.50,0.50,24.4,13.31,0.47,8.86,8.47,8.50,1.5708,0.18096,1.29324,0.15776,16.13680,27.96600,1.06272
11,12,1.75,0.75,25.0,12.16,10.02,7.70,8.32,24.00,3.9846,0.24992,0.01768,0.11880,26.06400,22.17600,0.40303
12,13,2.65,1.00,24.8,12.92,5.50,7.97,8.34,17.20,1.7094,0.15834,1.42926,0.17748,17.36460,24.64800,2.15496
13,14,1.50,1.50,26.5,12.41,0.63,11.28,8.71,6.00,6.4120,0.22720,0.21880,0.11880,16.46400,33.06600,0.40303
14,15,2.25,2.00,25.3,12.00,5.42,9.34,8.56,8.75,3.5266,0.20448,1.22272,0.13860,20.88000,32.27400,0.31456
15,16,2.00,1.25,26.3,11.77,10.02,7.25,8.55,5.55,2.8396,0.22720,0.35260,0.11880,18.04800,31.08600,0.32439
16,17,1.25,1.00,26.9,8.58,5.85,8.06,8.57,9.54,2.1984,0.15904,0.37616,0.14850,21.88800,32.67000,0.42269
17,18,1.73,0.12,27.3,2.81,28.60,9.48,8.80,31.00,4.4550,0.08692,1.17292,0.08160,36.34800,15.99048,0.41839
18,19,1.75,1.75,25.4,8.83,1.18,8.84,9.43,6.00,2.6564,0.09088,0.22132,0.10890,20.97600,32.67000,0.41286
19,20,2.00,1.00,26.1,11.00,6.07,7.25,8.24,12.50,2.2900,0.09088,0.35512,0.11880,25.68000,22.77000,0.48167
20,21,1.50,1.25,26.5,8.32,4.20,8.06,8.83,7.00,2.2900,0.06816,0.28864,0.11880,23.04000,24.75000,0.37354
21,22,1.25,0.00,27.3,1.53,88.30,7.90,8.14,81.00,5.9400,0.21730,1.27876,0.19380,36.76400,14.21376,2.38385
22,23,1.50,1.00,25.0,4.22,1.07,10.96,9.22,1.60,3.5550,0.02283,0.25941,0.01992,8.63028,19.72920,0.36860
23,24,1.50,0.75,28.7,9.08,2.11,10.96,9.23,10.00,5.3550,0.04566,0.15594,0.10956,18.95832,37.53360,0.37830
24,25,1.25,0.20,28.6,2.04,9.21,9.34,8.97,9.60,4.0500,0.04566,0.31722,0.07968,29.89944,22.77680,0.37830
25,26,1.25,0.15,28.9,0.64,92.50,7.97,8.13,77.00,4.4100,0.06849,0.33471,0.09960,37.82232,37.05240,0.44620
26,27,0.75,0.00,28.1,0.76,77.90,7.58,8.15,29.30,5.9540,0.31248,0.62132,0.13776,20.48850,16.25580,0.24750
27,28,1.00,0.75,26.9,3.20,4.53,7.20,9.40,7.50,4.0500,0.02283,0.17877,0.06972,33.10632,38.49600,0.44620
28,29,1.00,0.30,26.9,1.02,79.10,6.36,8.23,79.00,3.6000,0.04566,0.15594,0.07968,33.38928,19.56880,0.40740
29,30,1.00,0.00,27.1,0.44,123.00,7.66,7.90,102.00,5.4960,0.29016,0.72484,0.12792,21.99570,16.91260,0.21780
30,31,0.75,0.00,25.5,1.08,47.80,7.90,8.04,41.95,5.4960,0.22320,0.75120,0.14760,17.00310,24.13740,0.24750
31,32,0.75,0.00,29.5,0.57,141.00,6.32,7.94,117.00,4.4884,0.22320,0.50760,0.16728,20.53560,22.98800,0.26730
32,33,3.00,0.20,26.8,0.38,21.40,6.32,7.39,29.00,2.6106,0.78120,NaN,0.14760,45.54570,49.26000,0.26730
33,34,1.25,0.15,26.0,7.42,46.70,7.11,8.29,23.60,5.9400,0.08692,1.48788,0.16320,30.99200,19.05936,0.65191
34,35,1.35,0.80,26.2,12.80,19.90,6.63,8.31,25.25,6.0885,0.06519,0.60410,0.13260,31.46000,13.56768,0.15568
35,36,2.00,0.50,26.5,24.32,17.80,6.32,8.01,31.60,6.4845,0.06519,0.60410,0.06120,6.50000,7.59144,0.22379

In [31]:
df1 = pd.read_csv("data1.txt")

In [32]:
df2 = pd.read_csv("data2.txt")

In [33]:
df1

   1   2   3   4
0  5   6   7   8
1  9  10  11  12

In [34]:
df2

     1     2    3   4
0  5.0   NaN  7.0   8
1  NaN  10.0  NaN  12

In [38]:
df3 = pd.concat([df1,df2],axis=1)

In [39]:
df3

   1   2   3   4    1     2    3   4
0  5   6   7   8  5.0   NaN  7.0   8
1  9  10  11  12  NaN  10.0  NaN  12

In [62]:
A = np.array([[i+j+120 for j in range(6)] for i in range(5)])

In [63]:
A

array([[120, 121, 122, 123, 124, 125],
       [121, 122, 123, 124, 125, 126],
       [122, 123, 124, 125, 126, 127],
       [123, 124, 125, 126, 127, 128],
       [124, 125, 126, 127, 128, 129]])

In [ ]:
 cfv